* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343a40;
  background-color: #d3e0ea;
}

body {
  margin: 0 10px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}
body .layout {
  display: grid;
  grid-template-rows: max-content;
  gap: 30px;
  padding: 30px 0;
}
body .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body .navigation header a {
  text-decoration: none;
}
body .navigation header a div:first-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}
body .navigation header a div:last-child {
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: lighter;
}
body .navigation .page-nav a {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 15% 85% 83% 17%/48% 48% 52% 52%;
}
body .navigation .page-nav a:hover {
  background-color: #a9c8e8;
  transform: translateY(-3px);
}
@keyframes background-img-animation {
  0% {
    border-radius: 10% 90% 8% 92%/86% 8% 92% 14%;
    background-color: #c6e2f1;
  }
  50% {
    border-radius: 78% 22% 77% 23%/15% 84% 16% 85%;
    background-color: #a9c8e8;
  }
  100% {
    border-radius: 10% 90% 8% 92%/86% 8% 92% 14%;
    background-color: #c6e2f1;
  }
}
body main .main-section {
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}
body main .main-section .section-img {
  height: 440px;
  flex: 0 0 400px;
  align-self: center;
}
body main .main-section .section-img-animation {
  animation: background-img-animation 5s infinite;
}
body main .main-section .media-content {
  flex: 1;
}
body main .main-section .media-content .section-heading {
  font-size: 62px;
  font-weight: 600;
  display: block;
}
body main .main-section .media-content .section-heading div {
  text-align: right;
}
body main .main-section .media-content .section-sub-heading {
  font-size: 24px;
  display: block;
  padding: 20px;
  line-height: 1.4;
  font-weight: 300;
}
body main .main-section .media-content .section-text {
  padding: 0 20px;
  line-height: 1.6;
  letter-spacing: 1px;
}
body main .main-section .media-content .btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  flex-wrap: wrap-reverse;
}
body main .main-section .media-content .btn-section .tagline {
  font-size: 20px;
  font-weight: 500;
}
body main .main-section .media-content .btn-section a {
  padding: 12px;
  border: none;
  background-color: #8b3dff;
  color: #e7e9ff;
  transition: all 0.5s;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}
body main .main-section .media-content .btn-section a:hover {
  background-color: #7300e6;
  transform: translateY(-3px);
  border-radius: 10px;
}
body main .main-section .media-content .btn-section a a {
  text-decoration: none;
}
body main .main-skills-section {
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
body main .main-skills-section .skills {
  width: 300px;
  display: inline-block;
  align-items: center;
  text-align: left;
  gap: 10px;
}
body main .main-skills-section .skills:hover {
  transform: translateY(-10px);
}
body main .main-skills-section .skills .icon-text {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}
body main .main-skills-section .skills p {
  letter-spacing: 1px;
  line-height: 1.6;
}
body footer .social-icon {
  padding-bottom: 15px;
}
body footer .social-icon a {
  width: 0;
  height: 0;
  text-decoration: none;
  margin: 0 5px;
}
body footer .footer-bar {
  height: 1px;
  background-color: #343a40;
  width: 100%;
  margin-bottom: 20px;
}
body footer .footer-text {
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .layout {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .layout .navigation .page-nav a {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .layout {
    width: 90%;
  }
  .layout .navigation .page-nav a {
    display: none;
  }
  .layout main .main-section {
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
  }
  .layout main .main-section .section-img {
    height: 120px;
    flex: 0 0 120px;
    align-self: center;
  }
  .layout main .main-section .media-content .section-heading {
    font-size: 30px;
    font-weight: 600;
    display: block;
  }
  .layout main .main-section .media-content .section-heading div {
    text-align: right;
  }
}/*# sourceMappingURL=style.css.map */