// /*
// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// */

// /*
// MAIN COLOR: #087f5b
// GREY COLOR: #343a40
// */

$primary-color: #3f54f7;
$shade-primay-color: #8ca2f9;
$grey-color: #343a40;
$white-color: #e7e9ff;
// #c6e2f1 lightblue
// #a9c8e8 darkblue
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $grey-color;
  // background-color: #f5f5dc;
  background-color: #d3e0ea;
  // background-color: #f8f8f8;
  // background-color: #778899;
}

body {
  .layout {
    display: grid;
    grid-template-rows: max-content;
    gap: 30px;
    padding: 0 30px;
  }
  font-family: "Poppins", sans-serif;
  margin-top: 10px;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    header {
      a {
        text-decoration: none;
        div:first-child {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.2;
        }
        div:last-child {
          letter-spacing: 2px;
          font-size: 12px;
          font-weight: lighter;
        }
      }
    }
    .page-nav {
      a {
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        padding: 10px;
        letter-spacing: 4px;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 15% 85% 83% 17% / 48% 48% 52% 52%;
        &:hover {
          background-color: #a9c8e8;
          // border-radius: 10px;
          transform: translateY(-3px);
        }
      }
    }
  }

  @keyframes background-img-animation {
    0% {
      border-radius: 10% 90% 8% 92% / 86% 8% 92% 14%;
      background-color: #c6e2f1;
    }
    50% {
      border-radius: 78% 22% 77% 23% / 15% 84% 16% 85%;
      background-color: #a9c8e8;
    }
    100% {
      border-radius: 10% 90% 8% 92% / 86% 8% 92% 14%;
      background-color: #c6e2f1;
    }
  }

  main {
    .main-section {
      padding: 0 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      flex-wrap: inherit;
      .section-img {
        flex: 1;
      }
      .section-img-animation {
        animation: background-img-animation 5s infinite;
      }
      .media-content {
        // flex: 0 0 600px;
        .section-heading {
          font-size: 36px;
          font-weight: 600;
          display: block;
          span {
            padding-left: 100px;
          }
        }
        .section-sub-heading {
          font-size: 24px;
          display: block;
          // text-transform: uppercase;
          padding-bottom: 20px;
          line-height: 1.4;
          font-weight: 300;
        }
        .section-text {
          padding: 0 20px;
          line-height: 1.6;
          letter-spacing: 1px;
        }
        .btn-section {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          padding: 30px;
          flex-wrap: wrap-reverse;
          .tagline {
            font-size: 20px;
            font-weight: 500;
          }

          a {
            padding: 12px;
            border: none;
            background-color: #8b3dff;
            color: $white-color;
            transition: all 0.5s;
            border-radius: 5px;
            text-transform: uppercase;
            font-size: 16px;
            text-decoration: none;
            &:hover {
              background-color: #7300e6;
              transform: translateY(-3px);
              border-radius: 10px;
            }
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
    .main-skills-section {
      padding: 0 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .skills {
        width: 300px;
        display: inline-block;
        align-items: center;
        text-align: left;
        gap: 10px;
        &:hover {
          transform: translateY(-10px);
        }
        .icon-text {
          display: flex;
          padding: 20px 0;
          gap: 20px;
        }
        p {
          letter-spacing: 1px;
          line-height: 1.6;
        }
      }
    }
  }

  footer {
    .social-icon {
      padding-bottom: 15px;
      a {
        width: 0;
        height: 0;
        text-decoration: none;
        margin: 0 5px;
      }
    }
    .footer-bar {
      height: 1px;
      background-color: #343a40;
      width: 100%;
      margin-bottom: 20px;
    }
    .footer-text {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .layout {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .layout {
    .navigation {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .page-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        text-align: center;
      }
    }
    main {
      .main-section {
        flex-direction: column;
        gap: 0;
        .section-img {
          order: 1;
          align-self: center;
          height: 50%;
        }
        .media-content {
          .section-heading {
            font-size: 30px;
            font-weight: 600;
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .layout {
    .navigation {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .page-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        text-align: center;
      }
    }
    main {
      .main-section {
        flex-direction: column;
        gap: 0;
        .section-img {
          align-self: center;
          height: 25%;
          // order: 1;
        }
        .media-content {
          .section-heading {
            font-size: 30px;
            font-weight: 600;
            display: block;
          }
        }
      }
    }
  }
}
