// /*
// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// */

// /*
// MAIN COLOR: #087f5b
// GREY COLOR: #343a40
// */

$primary-color: #3f54f7;
$shade-primay-color: #8ca2f9;
$grey-color: #343a40;
$white-color: #fff;
// #c6e2f1 lightblue
// #a9c8e8 darkblue
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// .container {
//   width: 1200px;
//   margin: 0 auto;
// }

.button {
  display: inline-block;
  border: none;
  color: #002755;
  background-color: #ffc967;
  transition: all 0.5s;
  border-radius: 5px;
  // text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 40px;
  padding: 0 22px;
  height: 40px;
  text-align: center;

  text-decoration: none;
  &:hover {
    background-color: #002755;
    color: $white-color;
    transform: translateY(-3px);
  }
}

//Hero Section
body {
  .hero-section {
    // height: 70vh;
    color: $white-color;
    background-color: #3f54f7;
    padding-top: 10px;
    .container {
      .navigation {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        #logo {
          min-width: 120px;
          a {
            text-decoration: none;
            color: $white-color;
            div:first-child {
              font-size: 16px;
              font-weight: 600;
              line-height: 1.2;
            }
            div:last-child {
              letter-spacing: 2px;
              font-size: 12px;
              font-weight: lighter;
            }
          }
        }
        .page-nav {
          a {
            color: $white-color;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            font-size: 16px;
            padding: 5px;
            gap: 10px;
            letter-spacing: 4px;
            cursor: pointer;
            transition: all 0.5s;
            border-radius: 4px;
            &:hover {
              background-color: $white-color;
              color: $grey-color;
              font-weight: 500;
              // border-radius: 10px;
              transform: translateY(-3px);
            }
          }
        }
      }
      .main-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        .section-img {
        }
        .section-img-animation {
          animation: background-img-animation 5s infinite;
        }
        @keyframes background-img-animation {
          0% {
            border-radius: 10% 90% 8% 92% / 86% 8% 92% 14%;
            background-color: #3f54f7;
          }
          50% {
            border-radius: 78% 22% 77% 23% / 15% 84% 16% 85%;
            background-color: #a9c8e8;
          }
          100% {
            border-radius: 10% 90% 8% 92% / 86% 8% 92% 14%;
            background-color: #3f54f7;
          }
        }
        .media-content {
          text-align: right;
          .tag-line-header {
            text-transform: uppercase;
            line-height: 2;
            letter-spacing: 2px;
          }
          h1 {
            letter-spacing: 2px;
            letter-spacing: -0.015em;
            line-height: 60px;
            font-size: 44px;
            text-align: right;
          }
          h3 {
            font-weight: 500;
          }
          .btn-section {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding-top: 70px;
            flex-wrap: wrap-reverse;
            .tagline {
              font-size: 20px;
              font-weight: 500;
            }
            a {
              border: none;
              color: #002755;
              background-color: #ffc967;
              transition: all 0.5s;
              border-radius: 5px;
              // text-transform: uppercase;
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 0.4px;
              line-height: 40px;
              padding: 0 22px;
              height: 40px;

              text-decoration: none;
              &:hover {
                background-color: #002755;
                color: $white-color;
                transform: translateY(-3px);
                border-radius: 10px;
              }
              a {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

//Skill Section
body {
  .skill-section {
    padding: 20px 0;
    color: $grey-color;
    .container {
      .skill-flex {
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .skills {
          width: 250px;
          display: inline-block;
          align-items: center;
          text-align: left;
          &:hover {
            transform: translateY(-10px);
          }
          .icon-text {
            display: flex;
            padding: 20px 0;
            gap: 20px;
          }
          p {
            letter-spacing: 1px;
            line-height: 1.6;
          }
        }
      }
    }
  }
}

//About-Me Section
body {
  .about-me-section {
    .about-me-media {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 30px;
      justify-items: center;
      align-items: center;
      color: #002755;
      border-radius: 5px;
      letter-spacing: 0.4px;
      .btn-section {
        grid-column: 1/-1;
        .tagline {
          font-size: 20px;
          font-weight: 500;
        }
        a {
          display: inline-block;
          border: none;
          color: #002755;
          background-color: #ffc967;
          transition: all 0.5s;
          border-radius: 5px;
          // text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.4px;
          line-height: 40px;
          padding: 0 22px;
          height: 40px;

          text-decoration: none;
          &:hover {
            background-color: #002755;
            color: $white-color;
            transform: translateY(-3px);
            border-radius: 10px;
          }
          a {
            text-decoration: none;
          }
        }
      }
      .about-me-text {
        padding: 20px;
        .tag-line-header {
          text-transform: uppercase;
          line-height: 2;
          letter-spacing: 2px;
          color: #05f;
        }
      }
    }
  }
}

//Form Section
body {
  .form-section {
    color: $white-color;
    background-color: #3f54f7;
    .form-group {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 40px;
      .form-text {
        width: 35vw;
        .tag-line-header {
          text-transform: uppercase;
          line-height: 2;
          letter-spacing: 2px;
        }
        h1 {
          letter-spacing: 2px;
          letter-spacing: -0.015em;
          line-height: 60px;
          font-size: 40px;
          font-weight: 500;
          // text-align: right;
          padding-bottom: 10px;
        }
        h3 {
          font-weight: 500;
        }
        .ideas-bullet {
          margin-left: 20px;
          list-style-type: circle;
        }
      }
      .form-elements {
        flex-grow: 1;
        border-radius: 10px;
        padding: 30px;
        background-color: white;
        color: #002755;
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border-radius: 4px;
          border: solid #002755 1px;
          // box-shadow: none;
          height: 40px;
          padding: 0 5px;
        }
        #message {
          resize: none;
          border-radius: 4px;
          border: solid #002755 1px;
          // box-shadow: none;
          // height: 40px;
          padding: 0 5px;
        }
      }
    }
  }
}

//Footer Section
body {
  .footer-section {
    .container {
      color: #002755;
      .social-icon {
        padding: 5px 20px;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        a {
          text-decoration: none;
          // color: $grey-color;
        }
      }
      .footer-bar {
        display: block;
        height: 1px;
        background-color: #343a40;
        // width: 100%;
      }
      .footer-text {
        text-align: right;
        padding-top: 5px;
        font-size: 12px;
      }
    }
  }
}

// maxwidth: less than or equal to

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .about-me-section {
    padding: 100px 0;
  }
  .form-group {
    height: 600px;
  }
}

@media (max-width: 730px) {
  body .hero-section .container .main-section {
    padding: 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .media-content {
      text-align: center;
      h1 {
        text-align: center;
        font-size: 32px;
      }
      .btn-section {
        padding: 35px 15px;
      }
    }
  }
  body .about-me-section {
    padding: 10px 0;
    .about-me-media {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      .btn-section {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
  body {
    .form-section {
      .form-group {
        flex-direction: column;
        .form-text {
          width: auto;
          margin-bottom: 5px;
        }
        .form-elements {
          width: 80dvw;
        }
      }
    }
  }
  .section-img {
    width: 200px;
  }
  .section-img-illustration {
    width: 300px;
  }
}

@media (max-width: 560px) {
  .section-img-illustration {
    width: 250px;
  }
  body .hero-section .container .navigation {
    padding: 3px;
    flex-direction: column;
    #logo {
      align-self: center;
    }
    .page-nav {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        letter-spacing: 0.5px;
        font-size: 14px;
      }
    }
  }
  body .hero-section .container .main-section {
    padding: 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .media-content {
      text-align: center;
      h1 {
        padding: 10px;
        line-height: 30px;
      }
      .btn-section {
        padding: 10px;
      }
    }
  }
  body .skill-section {
    padding: 5px 0;
    .container .skill-flex {
      padding: 0 5px;
      .skills {
        p {
          letter-spacing: 0;
        }
        .icon-text {
          padding: 0;
        }
      }
    }
  }
  body {
    .form-section {
      .container {
        // height: 300px;
        padding: 40px;
        .form-elements {
        }
      }
    }
  }
}
